html {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body {
    cursor:default;
    background: white;
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
nav {
    position: fixed;
    background: black;
    width: 100%;
    top: 0;
    font-size:small;
    /* border-bottom: 3px solid rgb(156, 27, 27); */
}
header {
    margin-top: 10%;
    padding: 0;
}
#browse {
    overflow: hidden;
    /* height: 100px; */
}
object {
    display: flex;
    width: 100%;
    height: 1000px;
    min-height: 101%;
}
footer {
    bottom: 0;
    width: 100%;
    background: white;
    margin: auto;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer h4 {
    margin-bottom: 5px;
}
footer img {
    padding-bottom: 10px;
}
#bot {
    position: sticky;
    padding-bottom: 4px;
}

#more-nav {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(156,27,27,1) 10%, rgba(156,27,27,1) 90%, rgba(0,0,0,1) 100%);
}

a img.info {
    width: 32px;
    border-radius: 10px;
    object-fit: cover;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
/* a img.info:hover {
    width: 36px;
} */

.nav-content {
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
}

ul.topnav {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; */
    min-height: 44px;
    list-style: none;
    cursor: default;
    width: auto;
    height: fit-content;
    /* height: 44px; */
    /* max-height: 40px; */
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.hi {
    visibility: hidden;
    height: 0px;
}

ul.topnav li {
    display: inline-block;
    position: relative;
    height: auto;
    vertical-align: top;
    padding: 0;
}

/* ul.topnav li {
    float: left;
} */

ul.topnav li a {
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: top;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
    border-bottom: 3px solid transparent;
    /* margin: 6px; */
    /* margin-left: 4px;
    margin-right: 4px; */
    /* text-decoration: none;   */
}
/* ul.more li a {
    border-bottom: 3px solid transparent;
} */

.ico { 
    width: 16px;
    vertical-align: middle;
    left: 0;
}
.supa {
    width: 32px;
}
.prime {
    transition: 1s;
    transform: scale(1.2) translate(0px, 1px);
}
.prime:hover {
    transform: scale(1.3);
}
.prime_p {
    width: 32px;
    height: 32px;
    overflow: hidden;
}

ul.topnav li a:hover:not(.active) {
    /* background-color: rgb(156, 27, 27); */
    background: none;
    border-radius: 0px;
    border-bottom: 3px solid rgb(156, 27, 27);
}
ul.more li a:hover:not(.active) {
    /* background: none;
    border-radius: 0px; */
    border-bottom: 3px solid transparent;
    transform: scale(1.2);
}
ul.topnav li.prime_sp a:hover:not(.active) {
    /* background-color: rgb(156, 27, 27); */
    background: none;
    border-radius: 0px;
    border-bottom: 3px solid black;
}



ul.topnav li a.active {
    background-color: #04AA6D;
}

/* ul.topnav li.right {
    float: right;
} */

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}